@model IEnumerable<WebApplication1.Models.TroupType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationSpeed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationSpeed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TroupTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TroupTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TroupTypeId })
        </td>
    </tr>
}

</table>
