@model WebApplication1.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2 style="width: 200px; background-color: rgb(198, 184, 125)">Index</h2>
<form action="/Mine/AddCity" method="post">
    <input type ="submit" value="Add city"/>
</form>

@foreach (var city in Model.Cities.Take(1))
{   
    <h3 style="width: 200px; background-color: rgb(198, 184, 125)">City @(Model.Cities.IndexOf(city) + 1)</h3>
    <h3 style="width: 200px; background-color: rgb(198, 184, 125)">Mines</h3>
    <table class="mines">
        @foreach (var mine in city.Mines)
        {
            <tr class="@(mine.Type)">
                <td><img src="~/Content/img/icon-@(mine.Type).png" /></td>
                <td>@Html.ActionLink(@mine.Type.ToString() + " mine", "Details", new { mineId = mine.MineId })</td>
                <td>level: @mine.Level</td>
                <td>
                    <form action="/Mine/Index" method="post">
                        <input type="hidden" , name="mineId" , value="@mine.MineId" />
                        <input type="submit" value="Upgrade" />
                    </form>
                </td>
                <td class="hourProduction">@mine.GetProductionPerHour() </td>
            </tr>
        }
    </table>


    <h3>Java script stuff</h3>

    <table>
        
            @foreach (var rest in city.Resources)
            {
                <tr>
                <td class="res-img @(rest.Type)"><img src="~/Content/img/icon-@(rest.Type).png" /></td>
                <td class="res-value @(rest.Type)">@(rest.Value)</td>
                <td class="res-update @(rest.Type)">@(rest.LastUpdate)</td>
            
        </tr>
            }
    </table>

    <h3>Resource levels</h3>
    <table>
        @foreach (var res in city.Resources)
        {
            <tr>
                <td><img src="~/Content/img/icon-@(res.Type).png"/></td>
                <td>amount: @res.Value</td>

            </tr>
        }
    </table>
}

@section Scripts{
        
<script src="~/Scripts/MineScript/Mines.js"></script>
<script src="~/Scripts/Date.min.js"></script>
    }