@model WebApplication1.Models.City
@{
    ViewBag.Title = "Index";
}

@*
<h2 style="width: 200px; background-color: rgb(198, 184, 125)">Index</h2>
<form action="/Mine/AddCity" method="post">
    <input type ="submit" value="Add city"/>
</form>
*@


<table>
    <tr>
        @foreach (var rest in Model.Resources)
        {

            <td class="res-img @(rest.Type)"><img src="~/Content/img/icon-@(rest.Type).png" /></td>
            <td class="res-value @(rest.Type)">@(rest.Value)</td>
            <td class="res-update @(rest.Type)" hidden >@(rest.LastUpdate)</td>

        }
    </tr>
</table>

@{
    var user = Model.ApplicationUser;
    <table >
        @foreach (var city in user.Cities)
        {
            <td>
                @Html.ActionLink("City" + @city.CityId, "Index", new {cityId = city.CityId})
            </td>
        }
    </table>
}

@*
            <h3 style="width: 200px; background-color: rgb(198, 184, 125)">City @Model.CityId</h3>
        <table class="mines">
            @foreach (var mine in Model.Mines)
            {
                <tr class="@(mine.Type)">
                    <td>@Html.ActionLink(@mine.Type.ToString() + " mine", "Details", new { id = mine.MineId })</td>
                    <td>level: @mine.Level  </td>
                    <td class="hourProduction">@mine.GetProductionPerHour() </td>
                </tr>
            }
        </table>
  *@
        <div class="main mines">
            <img id="town-img" src="~/Content/img/village-bg.jpg">
            <div class="mine-wrapper">
            @foreach (var mine in Model.Mines)
            {
                <div class ="@(mine.Type)">
                    <div class="mine-level @(mine.MineStyle)">@Html.ActionLink(@mine.Level.ToString(), "Details", new { id = mine.MineId })</div>
                    <div class="hourProduction" style="display: none;">@mine.GetProductionPerHour()</div>
                </div>

            }
            </div>
        </div>

        @section Scripts{

        <script src="~/Scripts/MineScript/Mines.js"></script>
        <script src="~/Scripts/Date.min.js"></script>
            }