@model WebApplication1.Models.City
@{
    ViewBag.Title = "Index";
}
<body style="background-image:url(../Content/img/city.jpg);">    
    
<div class="building-wrapper">
@foreach (var building in Model.Buildings)
{
    if (building.BuildingType != null)
    {
        <div class="building-level @(building.BuildingStyle)">
            <div style="cursor: pointer" class="building-details-btn" data-building-id="@(building.BuildingId)" data-action="@(building.BuildingType.Action)"> 
                <img style="position: absolute; top: -46px; left: -38px; width: 70px; height: 70px;" src="~/Content/img/@(building.BuildingType.Name).png" />
            </div >
        </div>
    }
    else
    {
        <div id="build" class="building-level @(building.BuildingStyle)">
            <div style="cursor: pointer" class="building-build-btn" data-building-id="@(building.BuildingId)"><img style="width: 35px; height: 35px;" src="~/Content/img/Building_Plan_icon.png" /></div>
        </div>
    }
}
    


</}div>

<div id="buildings-container">
        <div class="close-btn">X</div>
        <div class="content"></div>
    </div>
    @section Scripts{
        <script src="~/Scripts/MineScript/Mines.js"></script>
        <script src="~/Scripts/Date.min.js"></script>
    }

    </body>