@model WebApplication1.Controllers.BarracksViewModel
@{
    this.Layout = null;
    ViewBag.Title = "Recruit";
}

<div style="border : solid black 2px; margin: 25px; padding : 5px; height: 300px; background-color: rgb(198, 184, 125); border-radius:15px;">


    <h2>Barracks</h2>
    <img style="width : 150px; height : 150px; float : left" src="~/Content/img/Barracks.png" />

    <div style=" float : right; margin-right: 100px;">
    <h3>Recruit troups</h3>
    @using (Html.BeginForm("Recruit", "Building"))
    {
        @Html.HiddenFor(m => m.CityID);
        @Html.HiddenFor(m => m.count);
        @Html.ListBoxFor(m => m.SelectedTroupType, this.Model.TroupTypes);
        <button style="position:absolute; bottom : 100px;" type="submit">Recruit</button>
    }
    </div >
    <div style="float:left">
        <h3>Current troups</h3>
    <table class="troups-table">
        <tr>
        <td>Name</td>
        <td>Count</td>
        </tr>
        @foreach (var troup in Model.troups)
        {
            <tr>
                <td>@troup.TroupType.Name</td>
                <td>@troup.TroupCount</td>

            </tr>
        }
    </table>
        </div>

  

</div>
